@media screen and (max-width: 355px) {
    iframe {
        height: 500px;
    }
}
@media screen and (min-width: 356px) {
    iframe {
        height: 600px;
    }
}
@media screen and (max-width: 600px) {
    iframe {
        height: 580px;
    }
}
@media screen and (min-width: 700px) {
    iframe {
        height: 600px;
    }
}