@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@1,600&display=swap');
* {
	font-family:  'Montserrat', sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1000px;
    margin: 10px auto;
}
span {
	color: #fff;
}
.navbar-brand img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
@media screen and (max-width: 600px) {
	.navbar-brand img {
		display: none;
	}	
}
.button-div {
	display: flex;
	align-items: center;
	flex-direction: column;
} 
.button-div a{
	display: inline-flex;
	width: 320px;
	position: relative;
	margin: 5px;
	height: 80px;
	font-weight: 900;
	color: white;
	border-radius: 60px;
	background-image: linear-gradient(to right, #039BE5, #01579b);
	font-size: normal;
	justify-content: center;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: 0.5s;
}
.button-div a:hover{
	color: #fff;
	text-decoration: none;
}
.button-div a:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: url(../img/btn/btn-bg.png);
	background-size: cover;
	transform-origin: left;
	transition: 0.5s;
}
.button-div a:hover::before {
	width: 100%;
	color: #fff;
}
.button-div a span {
	position: relative;
	z-index: 1;
}
/* Chemistry 1st Paper */
.chem01-button{display:flex;align-items:center;flex-direction:column}.chem01-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.chem01-button a:hover{color:#fff}.chem01-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/dark-pink-btn.png);background-size:cover;transform-origin:left;transition:.5s}.chem01-button a:hover::before{width:100%;color:#fff}.chem01-button a span{position:relative;z-index:1}
/* Chemistry 2nd Paper */
.chem02-button{display:flex;align-items:center;flex-direction:column}.chem02-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.chem02-button a:hover{color:#fff}.chem02-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/green-btn.png);background-size:cover;transform-origin:left;transition:.5s}.chem02-button a:hover::before{width:100%;color:#fff}.chem02-button a span{position:relative;z-index:1}
/* Physics 1st Paper */
.phy01-button{display:flex;align-items:center;flex-direction:column}.phy01-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.phy01-button a:hover{color:#fff}.phy01-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/dark-yellow-btn.png);background-size:cover;transform-origin:left;transition:.5s}.phy01-button a:hover::before{width:100%;color:#fff}.phy01-button a span{position:relative;z-index:1}
/* Physics 2nd Paper */
.phy02-button{display:flex;align-items:center;flex-direction:column}.phy02-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.phy02-button a:hover{color:#fff}.phy02-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/btn-bg.png);background-size:cover;transform-origin:left;transition:.5s}.phy02-button a:hover::before{width:100%;color:#fff}.phy02-button a span{position:relative;z-index:1}
/* Digital Shuchipotro */
.shuchipotro-button{display:flex;align-items:center;flex-direction:column}.shuchipotro-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.shuchipotro-button a:hover{color:#fff}.shuchipotro-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/btn-bg.png);background-size:cover;transform-origin:left;transition:.5s}.shuchipotro-button a:hover::before{width:100%;color:#fff}.shuchipotro-button a span{position:relative;z-index:1}
/* Biology 1st Paper */
.bio01-button{display:flex;align-items:center;flex-direction:column}.bio01-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.bio01-button a:hover{color:#fff}.bio01-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/btn-bg.png);background-size:cover;transform-origin:left;transition:.5s}.bio01-button a:hover::before{width:100%;color:#fff}.bio01-button a span{position:relative;z-index:1}
/* Biology 2nd Paper */
.bio02-button{display:flex;align-items:center;flex-direction:column}.bio02-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.bio02-button a:hover{color:#fff}.bio02-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/btn-bg.png);background-size:cover;transform-origin:left;transition:.5s}.bio02-button a:hover::before{width:100%;color:#fff}.bio02-button a span{position:relative;z-index:1}
/* Math 1st Paper */
.math01-button{display:flex;align-items:center;flex-direction:column}.math01-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.math01-button a:hover{color:#fff}.math01-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/btn-bg.png);background-size:cover;transform-origin:left;transition:.5s}.math01-button a:hover::before{width:100%;color:#fff}.math01-button a span{position:relative;z-index:1}
/* Math 2nd Paper */
.math02-button{display:flex;align-items:center;flex-direction:column}.math02-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.math02-button a:hover{color:#fff}.math02-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/btn-bg.png);background-size:cover;transform-origin:left;transition:.5s}.math02-button a:hover::before{width:100%;color:#fff}.math02-button a span{position:relative;z-index:1}
/* Custom Advertisement-1 */
.custom-ad01-button{display:flex;align-items:center;flex-direction:column}.custom-ad01-button a{display:inline-flex;width:320px;position:relative;margin:5px;height:80px;font-weight:900;color:#fff;border-radius:60px;background-image:linear-gradient(to right,#039be5,#01579b);font-size:normal;justify-content:center;align-items:center;justify-content:center;text-decoration:none;transition:.5s}.custom-ad01-button a:hover{color:#fff}.custom-ad01-button a::before{content:'';position:absolute;top:0;left:0;width:0;height:100%;background:url(../img/btn/dark-yellow-btn.png);background-size:cover;transform-origin:left;transition:.5s}.custom-ad01-button a:hover::before{width:100%;color:#fff}.custom-ad01-button a span{position:relative;z-index:1}